.testimonials{
    background-image: linear-gradient(to top right, #5A98F2 40% , #67C3F3 60%);
    display: flex;
    margin: 20px;
    height: 100vh;
}



.arrow-nav{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.arrow-nav>img{
    padding: 5px;
}
.arrow-nav>img:first-child, .arrow-nav>img:last-child{
    padding: 0px 40px; 
}
.group-left{
    display: flex;
}